{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col" style="padding-bottom: 25px;">
        <div class="nav nav-tab" role="tablist" aria-orientation="vertical">
          {{ range $index, $elemen:= .Site.Data.tools.tools }}
          <a class="nav-link {{ if eq $index 0}} active {{ end }}" data-toggle="pill" href="#{{.title | urlize}}" role="tab">{{ .title }}</a>
          {{ end }}
        </div>
      </div>
      <div class="col-12">
        <div class="tab-content">
          {{ range $index, $elemen:= .Site.Data.tools.tools }}
          <div class="tab-pane fade {{ if eq $index 0}} show active {{ end }}" id="{{.title | urlize}}" role="tabpanel">
            <div class="row">
              {{ range .tool}}
              <div class="col-md-6 mb-4">
                <div class="card border-0 shadow">
                  {{ if .image }}<img src="{{ .image | relURL }}" alt="{{ .name | markdownify }}" class="card-img-top">{{ end }}
                  <div class="card-body" style="border-top: 10px solid #084485; border-radius: inherit;">
                    <h4 class="h5 mb-4"><a class="text-dark" href="{{ .link | safeURL }}">{{ .company | markdownify }}</a></h4>
                    {{ if .name }}
                      <p style="font-style: italic;">{{ .name }}</p>
                    {{ end }}
                    {{ if .description }}
                      <p>{{ .description }}</p>
                    {{ end }}
                    {{ if .email }}
                      <p><a href = "mailto:{{ .email }}">{{ .email }}</a></p>
                    {{ end }}
                    {{ if .phone }}
                      <p><a href="tel:{{ .phone }}">{{ .phone }}</a></p>
                    {{ end }}
                    {{ if .link }}
                    <a href="{{ .link | safeURL }}" class="btn btn-primary">Visit Site</a>
                    {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
