{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <h2 class="mb-4">{{ .Title | markdownify }}</h2>
        <div class="content">{{ .Content }}</div>
        <form name="contact" class="row" netlify>
          <div class="col-md-6">
            <input type="text" class="form-control mb-4" placeholder="Your name" name="name" id="name" required>
          </div>
          <div class="col-md-6">
            <input type="company" class="form-control mb-4" placeholder="Company" name="company" id="company" >
          </div>
          <div class="col-md-6">
            <input type="email" class="form-control mb-4" placeholder="Email" name="email" id="email" required >
          </div>
          <div class="col-md-6">
            <input type="tel" class="form-control mb-4" placeholder="Phone" name="phone" id="phone">
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" placeholder="Website" name="website" id="website">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="Description of business/service"
              rows="5"></textarea>
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" placeholder="Sweetwater neighborhood/subdivision" name="neighborhood" id="neighborhood">
          </div>
          <div class="col-12">
            <button class="btn btn-primary btn-block" type="submit">Send</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6 text-md-right">
        <img class="img-fluid" src="{{ .Params.Image | relURL }}" alt="">
      </div>
    </div>
  </div>
</section>

{{ end }}
